<%- include ("partials/head") %>

<body>
<%- include ("partials/nav") %>
    <div class="container">
      <h1>This is the <%= name %> subreddit.</h1>
      <h2><%= description %></h2>
      <p><%= subscribers %> Total Subscribers</p>
      <hr />

      <% for(let i=0; i < posts.length; i++){ %>
      <article>
        <p><%= posts[i].title %> - <b> <%= posts[i].author %> </b></p>
        <% if(posts[i].img) { %>
        <img src="<%= posts[i].img %>" />
        <hr />
        <% } else { %>
        <hr />
        <% } %>
      </article>
      <% } %>
      <hr />
    </div>
  </body>
  </html>
